{{!-- Latest Posts --}}

{{#get "posts" limit="5" include="authors,tags"}}
  <aside id="post-related" class="main-card">
    <header class="card-header">
      <div class="card-title">{{t "Latest Posts"}}</div>
    </header>

    <ul>
      {{#foreach posts}}
        <li>
          <a class="fl" href="{{url}}" title="{{title}}">{{title}}</a>
          <span>{{date format="YYYY-MM-DD"}}</span>
        </li>
      {{/foreach}}
    </ul>
  </aside>
{{/get}}
