{{!-- Blog Info Widget --}}

<div class="widget widget-blog-follow">
  <div class="widget-title">{{t "Follow"}}</div>

  <ul class="social">
    {{#if @custom.github_url}}
      <li>
        <a
          href="{{@custom.github_url}}"
          title="GitHub"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-github"></i>
        </a>
      </li>
    {{/if}}

    {{#if @site.facebook}}
      <li>
        <a
          href="{{facebook_url}}"
          title="FaceBook"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-facebook"></i>
        </a>
      </li>
    {{/if}}

    {{#if @site.twitter}}
      <li>
        <a
          href="{{twitter_url}}"
          title="Twitter"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-twitter"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.linkedin_url}}
      <li>
        <a
          href="{{@custom.linkedin_url}}"
          title="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-linkedin"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.zhihu_url}}
      <li>
        <a
          href="{{@custom.zhihu_url}}"
          title="ZhiHu"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-zhihu"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.weibo_url}}
      <li>
        <a
          href="{{@custom.weibo_url}}"
          title="WeiBo"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-weibo"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.wechat_url}}
      <li>
        <a
          href="{{@custom.wechat_url}}"
          title="WeChat"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-wechat"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.qq_url}}
      <li>
        <a
          href="{{@custom.qq_url}}"
          title="QQ"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-qq"></i>
        </a>
      </li>
    {{/if}}
  </ul>
</div>
