{{!-- Blog Info Widget --}}

<div class="widget widget-blog-follow">
  <div class="widget-title">Follow</div>

  <ul class="social">
    {{#if @custom.GitHub_url}}
      <li>
        <a
          href="{{@custom.GitHub_url}}"
          title="GitHub"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-github"></i>
        </a>
      </li>
    {{/if}}

    {{#if @site.facebook}}
      <li>
        <a
          href="{{facebook_url}}"
          title="FaceBook"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-facebook"></i>
        </a>
      </li>
    {{/if}}

    {{#if @site.twitter}}
      <li>
        <a
          href="{{twitter_url}}"
          title="Twitter"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-twitter"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.LinkedIn_url}}
      <li>
        <a
          href="{{@custom.LinkedIn_url}}"
          title="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-linkedin"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.ZhiHu_url}}
      <li>
        <a
          href="{{@custom.ZhiHu_url}}"
          title="ZhiHu"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-zhihu"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.WeiBo_url}}
      <li>
        <a
          href="{{@custom.WeiBo_url}}"
          title="WeiBo"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-weibo"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.WeChat_url}}
      <li>
        <a
          href="{{@custom.WeChat_url}}"
          title="WeChat"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-wechat"></i>
        </a>
      </li>
    {{/if}}

    {{#if @custom.QQ_url}}
      <li>
        <a
          href="{{@custom.QQ_url}}"
          title="QQ"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-social icon-social-qq"></i>
        </a>
      </li>
    {{/if}}
  </ul>
</div>
