{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div id="page-author">
  {{#author}}
    <header
      id="author"
      class="clearfix main-card {{#if cover_image}}text-white{{/if}}"
      {{#if cover_image}}style="background-image: url({{cover_image}})"{{/if}}
    >
      <div class="fl info">
        <h1>{{name}}</h1>

        <div class="meta">
          {{#if location}}
            <small>{{location}}</small>
          {{/if}}

          <small>
            {{plural ../pagination.total
                     empty=(t "No Posts")
                     singular=(t "% Post")
                     plural=(t "% Posts")}}
          </small>
        </div>

        <ul class="links">
          {{#if website}}
            <li>
              <a
                href="{{website}}"
                title="{{t "Website"}}"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-website"></i>
              </a>
            </li>
          {{/if}}

          {{#if facebook}}
            <li>
              <a
                href="{{social_url type="facebook"}}"
                title="Facebook"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-facebook"></i>
              </a>
            </li>
          {{/if}}

          {{#if twitter}}
            <li>
              <a
                href="{{social_url type="twitter"}}"
                title="X"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-x"></i>
              </a>
            </li>
          {{/if}}

          {{#if linkedin}}
            <li>
              <a
                href="{{social_url type="linkedin"}}"
                title="LinkedIn"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-linkedin"></i>
              </a>
            </li>
          {{/if}}

          {{#if bluesky}}
            <li>
              <a
                href="{{social_url type="bluesky"}}"
                title="BlueSky"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-bluesky"></i>
              </a>
            </li>
          {{/if}}


          {{#if threads}}
            <li>
              <a
                href="{{social_url type="threads"}}"
                title="Threads"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-threads"></i>
              </a>
            </li>
          {{/if}}

          {{#if mastodon}}
            <li>
              <a
                href="{{social_url type="mastodon"}}"
                title="Mastodon"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-mastodon"></i>
              </a>
            </li>
          {{/if}}

          {{#if tiktok}}
            <li>
              <a
                href="{{social_url type="tiktok"}}"
                title="TikTok"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-tiktok"></i>
              </a>
            </li>
          {{/if}}

          {{#if youtube}}
            <li>
              <a
                href="{{social_url type="youtube"}}"
                title="YouTube"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-youtube"></i>
              </a>
            </li>
          {{/if}}

          {{#if instagram}}
            <li>
              <a
                href="{{social_url type="instagram"}}"
                title="Instagram"
                target="_blank"
                rel="noopener"
              >
                <i class="icon-social social-instagram"></i>
              </a>
            </li>
          {{/if}}
        </ul>

        {{#if bio}}
          <div class="bio">
            <small>{{bio}}</small>
          </div>
        {{/if}}
      </div>

      <img
        class="fl avatar"
        {{#if profile_image}}
        src="{{profile_image}}"
        {{else}}
        src="{{asset "images/default-author-avatar.png"}}"
        {{/if}}
        alt="{{name}}"
      >
    </header>
  {{/author}}

  {{#if posts}}
    {{> 'posts-list'}}
    {{pagination}}
  {{else}}
    {{> 'post-none'}}
  {{/if}}
</div>
