{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div id="page-author">
  {{#author}}
    <header id="author" class="clearfix main-card">
      <div class="fl info">
        <h1>{{name}}</h1>

        <div class="meta">
          {{#if location}}
            <small>{{location}}</small>
          {{/if}}

          <small>
            {{plural ../pagination.total
                     empty=(t "No Posts")
                     singular=(t "% Post")
                     plural=(t "% Posts")}}
          </small>
        </div>

        <ul class="clearfix links">
          {{#if website}}
            <li>
              <a href="{{website}}" target="_blank" rel="noopener">
                <small>{{t "Website"}}</small>
              </a>
            </li>
          {{/if}}

          {{#if facebook}}
            <li>
              <a
                href="{{social_url type="facebook"}}"
                target="_blank"
                rel="noopener"
              >
                <small>Facebook</small>
              </a>
            </li>
          {{/if}}

          {{#if twitter}}
            <li>
              <a
                href="{{social_url type="twitter"}}"
                target="_blank"
                rel="noopener"
              >
                <small>Twitter</small>
              </a>
            </li>
          {{/if}}

          {{#if linkedin}}
            <li>
              <a
                href="{{social_url type="linkedin"}}"
                target="_blank"
                rel="noopener"
              >
                <small>LinkedIn</small>
              </a>
            </li>
          {{/if}}

          {{#if bluesky}}
            <li>
              <a
                href="{{social_url type="bluesky"}}"
                target="_blank"
                rel="noopener"
              >
                <small>BlueSky</small>
              </a>
            </li>
          {{/if}}


          {{#if threads}}
            <li>
              <a
                href="{{social_url type="threads"}}"
                target="_blank"
                rel="noopener"
              >
                <small>Threads</small>
              </a>
            </li>
          {{/if}}

          {{#if mastodon}}
            <li>
              <a
                href="{{social_url type="mastodon"}}"
                target="_blank"
                rel="noopener"
              >
                <small>Mastodon</small>
              </a>
            </li>
          {{/if}}

          {{#if tiktok}}
            <li>
              <a
                href="{{social_url type="tiktok"}}"
                target="_blank"
                rel="noopener"
              >
                <small>TikTok</small>
              </a>
            </li>
          {{/if}}

          {{#if youtube}}
            <li>
              <a
                href="{{social_url type="youtube"}}"
                target="_blank"
                rel="noopener"
              >
                <small>YouTube</small>
              </a>
            </li>
          {{/if}}

          {{#if instagram}}
            <li>
              <a
                href="{{social_url type="instagram"}}"
                target="_blank"
                rel="noopener"
              >
                <small>Instagram</small>
              </a>
            </li>
          {{/if}}
        </ul>

        {{#if bio}}
          <div class="bio">
            <small>{{bio}}</small>
          </div>
        {{/if}}
      </div>

      <img
        class="fl avatar"
        {{#if profile_image}}
        src="{{profile_image}}"
        {{else}}
        src="{{asset "images/default-author-avatar.png"}}"
        {{/if}}
        alt="{{name}}"
      >
    </header>
  {{/author}}

  {{#if posts}}
    {{> 'posts-list'}}
    {{pagination}}
  {{else}}
    {{> 'post-none'}}
  {{/if}}
</div>
